<div id="main-content" class="container">
  <div ng-controller="MyInfoController as ctrl">
  <span ng-if="ctrl.hasUser()">
    <div> 
      First Name: {{ctrl.user.firstName}}
    </div>
    <div> 
      Last Name: {{ctrl.user.lastName}}
    </div>
    <div> 
      E-mail: {{ctrl.user.email}}
    </div>
    <div> 
      Phone: {{ctrl.user.phone}}
    </div>
    <div>
      <div>
        Favority dish: {{ctrl.user.name}}
      </div>
      <div>
        Description: {{ctrl.user.description}}
      </div>
      <img width="200" height="200" ng-src="images/menu/{{ctrl.user.item}}/{{ctrl.user.item}}.jpg">
    </div>
  </span>
  <span ng-if="!ctrl.hasUser()"> Not Signed Up Yet.
    <a ui-sref="public.signup"> Sing Up Now!</a>
  </span>
  </div>
</div>
