<div class="container">
  <div ng-controller="SignupController as ctrl">
    <h1> Sing Up for newsletter </h1>

    <fieldset id="textForm">
      <legend>Registration</legend> 
      <form name='regForm' novalidate>
        <div>
          <input type="text" name="firstname" placeholder="Insert your first name"
           ng-model="ctrl.user.firstname" 
           required
          minlength="4">
           <span
            ng-if="(regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched"> First name is empty 
          </span>
        </div>
        <div>
          <input type="text" name="lastname" placeholder="Insert your last name"
           ng-model="ctrl.user.lastname" required>
           <span
            ng-if="(regForm.lastname.$error.required ||
            regForm.lastname.$touched)"> Last name is empty 
          </span>
        </div>
        <div>
          <input type="text" name="e-mail" placeholder="Insert your e-mail"
           ng-model="ctrl.user.email" required>
           <span
            ng-if="(regForm.email.$error.required ||
            regForm.email.$touched)"> Username is empty 
          </span>
        </div>
        <div>
          <input type="text" name="phone" placeholder="Insert your phone"
           ng-model="ctrl.user.phone" required>
           <span
            ng-if="(regForm.phone.$error.required ||
            regForm.phone.$touched)"> Username is empty 
          </span>
        </div>
        <div>
          <div>Tell us your favorty dish:</div>
          <input type="text" name="menunumber" placeholder="Favorite dish 2 letters"
           ng-model="ctrl.user.menunumber" required>
        </div>
        <div>
          <button ng-click="ctrl.submit()">Submit</button>
        </div>
        <div style="margin-top: 10px;">
            Form valid? {{ regForm.$valid }}
        </div>
      </form>
    </fieldset>

  </div>
</div>
